/* Variabler */
:root {
    --primary-color: #0B2303;
    --secondary-color: #6F826D;
    --background-color: #f6f3ec;
    --surface-color: #eae2d6;

    --text-color: #2b2b2b;
    --text-on-primary: #eae2d6;
}

/* Grundregler */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

a {
    color: inherit;
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-on-primary);
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    transition: 0.5s;
}

.button:hover {
    background-color: var(--secondary-color);
}

p {
    padding: 0 1.2rem;
}

/* Rubriker */
h1 {
    font-weight: 500;
    font-family: 'Marcellus', serif;
    font-size: 1.6rem;
    letter-spacing: 0.08em;
}

h2 {
    font-family: 'Arial Nova', sans-serif;
    font-size: 2rem;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--text-on-primary);
}


.header-top {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.header-top img {
    width: 50px;
    height: auto;
    display: block;
}

header nav a {
    display: block;
    padding: 0.8rem 0 0.8rem 4rem;
    text-decoration: none;
    transition: 0.3s;
}

header nav a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    border-top: 1px solid var(--secondary-color);

}

/* Hero */
.hero {
    text-align: center;
    padding-bottom: 2rem;
}

.hero img {
    width: 100%;
}

/* Sektioner*/
section {
    border-bottom: 1px solid var(--surface-color);
    text-align: center;
    padding-bottom: 2rem;

}

/* Aktiviteter*/
.activities {
    background-color: var(--surface-color);
    padding-top: 1rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 1fr;

}

article {
    background-color: var(--background-color);
    margin: 2rem;
    padding-bottom: 1rem;
}

article img {
    width: 100%;
    height: auto;
}


/* Footer*/
footer {
    background-color: var(--primary-color);
    color: var(--text-on-primary);
    padding: 2rem 1rem;
    text-align: center;
}

footer img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.footer-brand {
    font-weight: 500;
    font-family: 'Marcellus', serif;
    font-size: 1.6rem;
    letter-spacing: 0.08em;
}

.accent-text {
    font-style: italic;
    font-family: 'Indie Flower', sans-serif;
    font-size: 1.2rem;
}

.footer-brand,
.accent-text {
    margin: 0;
    padding: 0;
}

footer h2 {
    font-size: 1.1em;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-info {
    display: flex;
    gap: 5rem;
    margin-top: 1.5rem;
}

footer section {
    border: none;
}



/* Desktop */
@media (min-width: 768px) {

    /* Header*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 6rem;
    }

    header nav ul {
        display: flex;
    }

    header nav ul li {
        border-top: none;
    }

    /* Hero */
    .hero {
        position: relative;
        border: none;
    }

    .hero img {
        max-height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .hero-text p {
        padding: 0;
    }

    .hero-text {
        position: absolute;
        text-align: left;
        max-width: 20rem;
        top: 20%;
        left: 10%;
        color: var(--text-on-primary);
    }

    .hero-text h2 span {
        display: block;
        font-size: 0.7em;
    }

    /* Sektioner */

    .intro {
        max-width: 50rem;
        margin: 0 auto;
    }

    .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 8rem;
    }

    .action-text {
        max-width: 40rem;
        text-align: left;
    }

    .action-text p {
        padding: 0;
    }

    /* Aktiviteter */
    .activity-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 0 8rem;
    }

    /* Footer */

    footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 0;
    }

    .footer-brand-block {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .footer-brand-text {
        display: flex;
        flex-direction: column;
    }

    footer img {
        width: 100px;
    }
}